<launch>

  <arg name="lidar_config" default="$(find hesai_ros_driver)/config/config.yaml" />
  <arg name="cam_record" default="true" />
  <arg name="fisheye_source_type" default="csi" />
  <arg name="fisheye_device" default="/dev/video0" />
  <arg name="fisheye_sensor_id" default="0" />
  <arg name="fisheye_width" default="1920" />
  <arg name="fisheye_height" default="1080" />
  <arg name="fisheye_fps" default="30" />
  <arg name="fisheye_iframe_interval" default="60" />
  <arg name="fisheye_output_dir" default="/home/gale/recordings/fisheye" />
  <arg name="fisheye_bitrate" default="8000000" />
  <arg name="fisheye_cpu_affinity" default="" />

  <arg name="imu_namespace" default="/" />
  <arg name="imu_node_name" default="microstrain_inertial_driver" />
  <arg name="imu_debug" default="false" />
  <arg name="imu_params_file" default="$(find microstrain_inertial_examples)/config/cv7/cv7.yml" />

  <arg name="record_bag"   default="true" />
  <arg name="bag_dir"      default="/home/gale/recordings/rosbag" />
  <arg name="bag_prefix"   default="$(arg bag_dir)/flight" />


  <!-- Fisheye CSI recorder: writes timestamped H.265 .mkv files to NVMe-backed storage -->
  <group if="$(arg cam_record)">
    <include file="$(find record)/launch/fisheye_recorder.launch">
      <arg name="source_type" value="$(arg fisheye_source_type)" />
      <arg name="device" value="$(arg fisheye_device)" />
      <arg name="sensor_id" value="$(arg fisheye_sensor_id)" />
      <arg name="width" value="$(arg fisheye_width)" />
      <arg name="height" value="$(arg fisheye_height)" />
      <arg name="fps" value="$(arg fisheye_fps)" />
      <arg name="iframe_interval" value="$(arg fisheye_iframe_interval)" />
      <arg name="output_dir" value="$(arg fisheye_output_dir)" />
      <arg name="bitrate" value="$(arg fisheye_bitrate)" />
      <arg name="cpu_affinity" value="$(arg fisheye_cpu_affinity)" />
    </include>
  </group>

  <!-- Hesai JT128: publishes /lidar_points -->
  <node pkg="hesai_ros_driver"
        type="hesai_ros_driver_node"
        name="hesai_ros_driver_node"
        output="screen">
    <param name="config_path" value="$(arg lidar_config)" />
  </node>

  <!-- Microstrain 3DMcv7: publishes /imu/data -->
  <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
    <arg name="namespace" value="$(arg imu_namespace)" />
    <arg name="node_name" value="$(arg imu_node_name)" />
    <arg name="debug" value="$(arg imu_debug)" />
    <arg name="params_file" value="$(arg imu_params_file)" />
  </include>

  <!-- FAST_LIO mapping -->
    <rosparam command="load" file="$(find fast_lio)/config/hesai_jt128.yaml" />
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />

  <!-- FAST-LIO /Odometry  =>  /mavros/vision_pose/pose bridge -->
  <node pkg="slam_pose_node" type="vision_pose_node" name="vision_pose_node" output="screen"/> 

    <!-- PX4 connection -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@192.168.0.3:14550"/>
  </include>
  
  <!-- Rosbag recorder: writes <bag_prefix>_YYYY-MM-DD-HH-mm-ss.bag, stops on Ctrl-C -->
    <group if="$(arg record_bag)">
      <node pkg="rosbag" type="record" name="rosbag_recorder" output="screen"
            args="-o $(arg bag_prefix) --lz4
                  /Odometry
                  /imu/data
                  /mavros/vision_pose/pose
                  /mavros/local_position/pose
                  /mavros/local_position/velocity_local
                  /mavros/setpoint_raw/attitude"/>
    </group>

</launch>
