<launch>
  <arg name="svo_file"             default="" /> 
      <arg name="stream"               default="" /> 

      <arg name="node_name"            default="zed_node" />
      <arg name="camera_model"         default="zed2" />
      <arg name="publish_urdf"         default="true" />
      <arg name="camera_name"          default="zed2" />
      <arg name="base_frame"           default="base_link" />
      <arg name="cam_pos_x"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
      <arg name="cam_pos_y"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
      <arg name="cam_pos_z"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
      <arg name="cam_roll"              default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
      <arg name="cam_pitch"             default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
      <arg name="cam_yaw"               default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->

      <group ns="$(arg camera_name)">
          <include file="$(find zed_wrapper)/launch/include/zed_no_tf.launch.xml">
              <arg name="camera_name"         value="$(arg camera_name)" />
              <arg name="svo_file"            value="$(arg svo_file)" />
              <arg name="stream"              value="$(arg stream)" />
              <arg name="node_name"           value="$(arg node_name)" />
              <arg name="camera_model"        value="$(arg camera_model)" />
              <arg name="base_frame"          value="$(arg base_frame)" />
              <arg name="publish_urdf"        value="$(arg publish_urdf)" />
              <arg name="cam_pos_x"           value="$(arg cam_pos_x)" />
              <arg name="cam_pos_y"           value="$(arg cam_pos_y)" />
              <arg name="cam_pos_z"           value="$(arg cam_pos_z)" />
              <arg name="cam_roll"            value="$(arg cam_roll)" />
              <arg name="cam_pitch"           value="$(arg cam_pitch)" />
              <arg name="cam_yaw"             value="$(arg cam_yaw)" />
          </include>
      </group>

  <!-- Start the IMU Driver (e.g., MicroStrain) -->
  <include file="$(find microstrain_inertial_examples)/launch/cv7.launch" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu"
      args="0 0 0 0 0 0 base_link imu_link" /> 

  <node pkg="robot_localization" type="ekf_localization_node" name="slam_ekf" output="screen">
    <rosparam command="load" file="$(find control)/config/slam_ekf.yaml"/>
  </node> 
  <!---->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@192.168.0.3:14550"/>
  </include>
  <!--                                                                         
      <param name="output" value="/mavros/odometry/out" />
      <param name="output" value="/mavros/vision_pose/pose" />
      <param name="output" value="/mavros/vision_pose/pose_cov" />
  -->
  <node pkg="control" type="publish_pose.py" name="odom_cov_override" output="screen">
    <param name="input" value="/odometry/filtered" />
    <param name="output" value="/mavros/vision_pose/pose_cov" />
    <param name="publish_status" value="true" />
  </node> 

  
</launch>



 


